@model IEnumerable<TodoApp.Models.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
	<h1>To do List</h1>
</div>

<div class="row my-container">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Description)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Priority)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
	@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Priority)
				</td>
				<td>
					<form asp-controller="TodoItems" asp-action="Delete" method="post">
						<input type="hidden" name="id" value="@item.Id" />
						<button type="submit">Delete</button>
					</form>
				</td>
			</tr>
	}
		</tbody>
	</table>

</div>
